%h1
  Wiadomosci
.panel.panel-primary
  .panel-heading
    .panel-title
      =@message.title
  .panel-body
    =@message.description
-@messages.each do |message|
  .panel.panel-primary
    .panel-heading
      .panel-title
        =@message.title
    .panel-body
      =message.description
=link_to "Odpowiedz", message_respond_path, class:"btn btn-info"
