%h1 Uzytkownicy
.table-responsive
  %table.table
    %tr
      %th.text-center #
      %th.text-center Uzytkownik
      %th.text-center Akcja
    - @users.each do |user|
      %tr
        %td.text-center= user.id
        %td.text-center= user.email
        %td.text-center
          .btn-group
            =link_to "Show", user_path(user), class:'btn btn-info'
            =link_to "Edit", edit_user_registration_path(user), class:'btn btn-default'
            =link_to "Destroy", user, data: {method: :delete, confirm: "Jesteś pewien?"}, class:'btn btn-danger'
