.div.col-lg-3
  %h1 Kappa
  %h2 Kappa
  %h3 Kappa
  %h4 Kappa
  %h5 Kappa
.div.col-lg-3
  %h5 Kappa
  %h4 Kappa
  %h3 Kappa
  %h2 Kappa
  %h1 Kappa
.div.col-lg-3
  %h1 Kappa
  %h2 Kappa
  %h3 Kappa
  %h4 Kappa
  %h5 Kappa
.div.col-lg-3
  %h5 Kappa
  %h4 Kappa
  %h3 Kappa
  %h2 Kappa
  %h1 Kappa
