.col-md-12{:id => "post_#{post.id}"}
  .panel.panel-primary
    .panel-heading
      .panel-title
        =post.title
    .panel-body
      =post.description
    .panel-footer
      = link_to "Edytuj"
      = link_to "Destroy", [@board,post], method: :delete, class: "btn btn-danger", remote: true
#div_id.col-md-12
