// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer {
  text-align: center;
  padding-bottom: 10px;
  hr{
    border-top-color: black;
  }
  p {
  font-size: 15pt;
  }
}
